@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&family=Nunito&display=swap');

#draw-on-web {
    position:absolute;
    top:0;
    left:0;
    display:none;
    z-index:9999;
}

.draw-on-web-palette * {
    font-family: 'Nunito', sans-serif;
    color:#fff;
}

.draw-on-web-palette > div {
    margin-left:10px;
}

.draw-on-web-palette {
    position:fixed;
    z-index:10000;
    top:25px;
    left:25px;
    background:rgba(28, 28, 28, 0.8);
    border-radius :11px;
    backdrop-filter: blur(2px);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 140px;
    height: 222px;
    flex-shrink: 0;
}

.draw-on-web-palette > .title {
    margin-left:10px;
    margin-top:5px;
    margin-bottom:5px;
    font-size :14px;
}

.draw-on-web-palette > wrap {
    margin-bottom:10px;
}

.draw-on-web-palette > wrap > div:first-child {
    font-size:16px;
}

.brush > items {
    display:flex;
}

.brush > items > div {
    display:inline-block;
    width:20px;
    height:20px;
    flex-shrink: 0;
    border-radius : 5px;
    background: #383838;
}